@charset "UTF-8";
/*Variables e importaciones*/
/*Variables*/
/*Mixins*/
/*Mixins*/
/*header*/
header {
  background-color: white;
  padding: 10px;
  display: flex;
  margin-bottom: 10px;
}
header .logo {
  height: 30px;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
}
header .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar li {
  margin-left: 10px;
}
header .navbar li :first-child {
  margin-left: 0;
}
header .navbar li a {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  text-transform: uppercase;
  color: black;
}

/*Estilo de animaciones*/
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*Boton bubbly*/
.bubbly-button {
  margin: 20px auto;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #e27791;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, transparent 20%, #e27791 20%, transparent 30%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e27791 15%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e27791 15%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%), radial-gradient(circle, #e27791 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #de6280;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button > a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  padding: 1em 2em;
}

@keyframes buttonAnimation {
  0% {
    background-color: #f9f9f9;
    transform: scale(1);
  }
  50% {
    background-color: #f9f9f9;
    transform: scale(1.1);
  }
  100% {
    background-color: #f9f9f9;
    transform: scale(1);
  }
}
.galeria_button {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.galeria_button:hover {
  animation: buttonAnimation 0.4s ease-in-out;
}

/*Estilos generales*/
main {
  background-color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 95%;
  margin-top: 2%;
  margin-bottom: 5px;
  overflow: hidden;
}

.row {
  max-width: 100%;
}

/*Estilo de titulos*/
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 6%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: -webkit-fill-available;
}

/* Estilos del contenedor de imágenes */
.contenedorimagen {
  position: relative;
  background-image: url("../assets/portada.webp");
  padding: 15%;
  background-size: cover;
  margin-bottom: 8%;
  width: 100wh;
}
.contenedorimagen h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: whitesmoke;
  font-size: 300%;
  font-weight: 900;
}

/*CARROUSEL*/
.carousel slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-icon-width {
  width: 1rem;
}

#carouselExampleIndicators {
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

/*Estilo de iconos*/
.icono, .icono4, .icono3, .icono2, .icono1 {
  display: block;
  /* Convertir en bloque */
  margin: 10% auto;
  /* Centrar horizontalmente */
}

.icono1 {
  height: 100px;
}

.icono2 {
  height: 88px;
  align-content: center;
}

.icono3 {
  height: 88px;
}

.icono4 {
  height: 88px;
}

.box-iconos {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  transition: transform 0.3s ease;
}
.box-iconos:hover {
  transform: scale(1.05);
  background-color: #dddddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*tienda*/
.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.galeria .product {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.galeria .product img {
  width: 14rem;
  height: -webkit-fill-available;
}

/*SOBRE NOSOTROS*/
.about-us {
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.about-us h2 {
  margin-bottom: 20px;
}
.about-us p {
  margin-bottom: 15px;
}

/*rutinas*/
.rutinas {
  height: max-content;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.rutinas .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Una columna */
  grid-gap: 20px;
  /* Espacio entre los elementos */
  padding: 40px;
  justify-content: center;
}
.rutinas .grid-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}
.rutinas .grid-container p {
  margin-bottom: 15px;
  text-align: left;
}
.rutinas .grid-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}
.rutinas .grid-container .rutgrid-containerinas li {
  margin-bottom: 5px;
}
.rutinas .grid-container img {
  width: 100%;
}
.rutinas .grid-container .container-pasos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.rutinas .grid-container .content-pasos {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.rutinas .grid-container .content-pasos img {
  width: 100px;
  /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-right: 6%;
  /* Espacio entre la imagen y el texto */
  align-items: center;
}
.rutinas .grid-container .content-pasos p {
  flex: 1;
  /* Ocupa todo el espacio restante */
}
.rutinas .grid-container .content-pasos .paso-text {
  flex: 1;
  /* Ocupa todo el espacio restante */
}

/*Compras*/
.compras {
  height: max-content;
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.compras p {
  text-align: center;
  margin-bottom: 4%;
  margin-top: 20px;
}
.compras li {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 95%;
  margin-top: 2%;
  margin-bottom: 5px;
  overflow: hidden;
}
.compras li h5 {
  text-decoration: underline;
}
.compras li p {
  text-align: justify;
}
.compras img {
  width: 100%;
  display: flex;
  margin: auto;
}
.compras h2 {
  margin-bottom: 2%;
}
.compras h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: -webkit-fill-available;
  margin-top: 25px;
}

.titulos-tienda {
  margin-top: 5%;
}

.banner_ofertas img {
  margin-top: 6%;
  width: 100%;
  opacity: 85%;
}

/*footer*/
footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 5%;
}
footer div {
  padding: 3%;
}
footer span {
  font-size: 0.7em;
}
footer h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: -webkit-fill-available;
  margin-top: 45px;
}

.logo-redes {
  height: 30px;
  width: 30px;
  align-content: center;
}

@media (max-width: 768px) {
  .contenedorimagen h1 {
    font-size: 150%;
  }
  .grid-container .content-pasos {
    flex-direction: column;
  }
  .grid-container img {
    margin-bottom: 3%;
  }
}

/*# sourceMappingURL=main.css.map */
