/*header*/

/*index*/
header {
    background-color:white;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
  }

.logo {

    height: 30px;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    margin-left: 10px;

    }
  
.navbar li:first-child {
    margin-left: 0;
}

.navbar li a {
    text-decoration:underline;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-transform: uppercase;
    color: black;

}
  
.contenedorimagen {
    position: relative;
    margin-bottom: 8%;
  }
  
  .textosuperpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Estilos adicionales */
    color: rgba(0, 0, 12, 0.959);
    font-size: 25px;
    /* ... */
  }

/*main*/

/*index*/

.imagenprincipal {
    width: 100%;
    height: 100%;
}

main{
    background-color:white;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 6%;

    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 15%;
}

/*CARROUSEL*/

.carousel slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.carousel-control-icon-width {
  width: 1rem
}

#carouselExampleIndicators {
  height: 700px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: -100px;
  overflow: hidden;

}

i {
    color: black;
    letter-spacing: 2px;
}

img {
    height: 80%;
}


.columnas {
    column-count: 2;
    column-gap: 20px;
    height: auto;
  }

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 95%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5px;
    overflow: auto;
} 

.icono1 {
    height: 100px;
    margin: auto;
    display: block; /* Convertir en bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 6%;
}

.icono2 {
    height: 88px;
    margin: auto;
    display: block; /* Convertir en bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 6%;
}

.icono3 {
    height: 88px;
    margin: auto;
    display: block; /* Convertir en bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 6%;
}


.icono4 {
    height: 88px;
    margin: auto;
    display: block; /* Convertir en bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 6%;
}

/*tienda*/

.galeria{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 2rem 0 3rem;
}

.product{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.product img {
  width: 14rem;
}

.galeria_button{
  font-family: 'Montserrat', sans-serif;
  background-color: f9f9f9;
  color: f9f9f9;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

/*saque el container*/
/*.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }*/
  
  /*.product {
    width: 300px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product h2 {
    display: flex;
    font-size: 20px;
  }
  
  .product p {
    display: flex;

  }
  
  .product .price {
    display: flex;
    font-weight: bold;
    color: #c0392b;
  }*/

  /*SOBRE NOSOTROS*/
  .about-us {
    margin: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .about-us h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-us p {
    margin-bottom: 15px;
  }

  /*rutinas*/

  section {
    height:max-content;
    margin: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  section h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section p {
    margin-bottom: 15px;
  }
  
  section ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  section li {
    margin-bottom: 5px;
  }
  
  

/*footer*/

footer {
    background-color: white;
    animation:forwards;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 40px;
    
}

.footer .h2 {
    letter-spacing: 0px;
}

.logo-redes {
    height: 30px;
    width: 30px;
    
}

/*GRID*/

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 3em;
  grid-template-areas: 
  "cabeza cabeza cabeza"
  "img img img" 
  "footer footer footer";
}

.cabeza {
  grid-area: cabeza;
}

.galeria{
  grid-area: img;
}
.pie {
  grid-area: footer;
}

