@media(max-width: 768px) {

    .contenedorimagen h1 {
        font-size: 150%;
    }

    .grid-container {
    
    .content-pasos{
        flex-direction: column;
    }

    img {
        margin-bottom: 3%;
    }
    }
}