/*Variables*/
$color-white: white;
$font-family: 'Montserrat', sans-serif;
$font-size-small: small;
$font-size-large: 300%;
$font-weight-bold: 900;
$fuschia: #e27791;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;


/*Mixins*/

@mixin textStyles {
    font-family: $font-family;
    text-align: center;
}