@import'./vars';



@mixin textStyles {
    font-family: $font-family;
    text-align: center;
}


/*header*/

/*index*/
header {
    background-color: $color-white;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}

.logo {

    height: 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    margin-left: 10px;
}

.navbar li:first-child {
    margin-left: 0;
}

.navbar li a {
    text-decoration: underline;
    font-family: $font-family;
    font-size: $font-size-small;
    text-transform: uppercase;
    color: black;

}

.contenedorimagen {
    position: relative;
    background-image: url("../assets/portada.jpg");
    padding: 15%;
    background-size: cover;
    margin-bottom: 8%;
    width: 100wh;
}

.contenedorimagen h1 {
    @include textStyles;
    color: whitesmoke;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}

@media(max-width: 768px) {
    
.contenedorimagen h1{
    font-size: 150%;
}
    
}

/*main*/

/*index*/


main {
    background-color: $color-white;
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/*Animacion*/
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

h1 {
    @include textStyles;
    margin-top: 4%;
    margin-bottom: 6%;
}

h2 {
    @include textStyles;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 15%;
}

/*CARROUSEL*/


.carousel slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-icon-width {
    width: 1rem
}

#carouselExampleIndicators {
    height: 700px;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

/*Boton bubbly*/
.bubbly-button {
    margin: 20px auto;
    width: fit-content;
    font-family: $font-family;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    &:focus {
        outline: 0;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &:before {
        display: none;
        top: -75%;
        background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after {
        display: none;
        bottom: -75%;
        background-image:
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
}


.bubbly-button>a {
    font-family: $font-family;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
}

/*Boton bubbly*/

p {
    @include textStyles;    
    font-size: 95%;
    margin-top: 2%;
    margin-bottom: 5px;
    overflow: auto;
}

.icono {
    display: block;
    /* Convertir en bloque */
    margin: 10% auto;
    /* Centrar horizontalmente */
}

.icono1 {
    @extend .icono;
    height: 100px;
}

.icono2 {
    @extend .icono;
    height: 88px;
    align-content: center;
}

.icono3 {
    @extend .icono;
    height: 88px;
}

.icono4 {
    @extend .icono;
    height: 88px;
}

.box-iconos {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
        background-color: #dddddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}


/*tienda*/

.galeria {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 2rem 0 3rem;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.product img {
    width: 14rem;
}

@keyframes buttonAnimation {
    0% {
        background-color: #f9f9f9;
        transform: scale(1);
    }

    50% {
        background-color: #f9f9f9;
        transform: scale(1.1);
    }

    100% {
        background-color: #f9f9f9;
        transform: scale(1);
    }
}

.galeria_button {
    font-family: $font-family;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        animation: buttonAnimation 0.4s ease-in-out
    }
}


/*SOBRE NOSOTROS*/
.about-us {
    margin: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.about-us h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-us p {
    margin-bottom: 15px;
}

/*rutinas*/

.rutinas {
    height: max-content;
    margin: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Una columna */
    grid-gap: 20px;
    /* Espacio entre los elementos */
}

.grid-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.grid-container p {
    margin-bottom: 15px;
    text-align: left;
}

.grid-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

.rutgrid-containerinas li {
    margin-bottom: 5px;
}

.grid-container img {
    width: 100%;
}


/*Compras*/

.compras p {
    text-align: center;
}

/*footer*/

footer {
    @include textStyles;
    padding-top: 5%;
    margin-top: 10%;
    margin-bottom: 5%;

}

footer div {
    padding: 3%;
}

footer span {
    font-size: 0.7em;
}

.logo-redes {
    height: 30px;
    width: 30px;
    align-content: center;

}